# Virtual Environments
venv/
env/
.env

# Python Cache
__pycache__/
*.pyc

# Dataset and Models
datasets/
models/*.pt
runs/

# Uploads and Database
cloud_layer/static/uploads/*
!cloud_layer/static/uploads/.gitkeep

# IDEs and OS
.idea/
.vscode/
.DS_Store
